@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles/cursor.scss');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color: black;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(128, 29, 221); 
    border-radius: 10px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .component {
    animation: fadeIn 1s ease-in-out;
  }
  
.to-top {
    background-color: rgb(128, 29, 221);
    color: whitesmoke;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    display: flex;
    float: right;
    right: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: sticky;
    bottom: 30px;
    z-index: 1000000;
}
  .flex {
      max-width: 70%;
      margin: 0% auto;
  }