@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./components/Navbar.css');
@import url('./components/Home.css');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
  }
  
