@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles/Navbar.css');
@import url('./styles/Home.css');
@import url('./styles/cursor.scss');
@import url('./styles/About.css');
@import url('./styles/Resume.css');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
  }
  
